
@media (max-height: 1366px) {
    body {
        background-color: #8B53A6;
    }


    input {
        text-align: center;
        font-family: 'Play', sans-serif;
    }

    h1 {
        font-size: 32px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        color: #e3e3e3;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-size: 13px;
        text-align: left;
        font-family: 'Russo One', cursive;
        color: #e3e3e3;
    }

    h3{
        display: block;
        font-size: 16px;
        text-align: left;
        font-family: 'Russo One', cursive;
        color: #8B53A6;
        margin-left: 3%;
    }

    p {
        font-size: 14px;
        text-align: left;
        color: #8B53A6;
        margin-left: 3%;
    }


    a {
        text-decoration: none;
        color: #e3e3e3;
    }


    .image-men {
        width: 55%;
        height: 40%;
        margin-top: 45%;
        margin-left: 24%;
    }

    .grid {
        display: grid;
        height: 97vh;
        grid-gap: 2px;
        margin: 0 auto;
    }

    .main {
        margin: 0;
        grid-template-rows: 1fr 2fr 4fr;
    }


    .head-logo {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        align-items: center;
    }

    .block-logo {
        display: grid;
        height: 100%;
        grid-template-columns: 0.5fr 1fr 0.5fr;

    }

    .sing-up {
        font-size: 100%;
        text-align: center;
        font-family: 'Pacifico', cursive;
        letter-spacing: 1px;
        line-height: 1;
        color: #e3e3e3;
    }

    .marg-sing {
        margin-top: -3px;
        line-height: 1.2;
    }

    .padd {
        margin-top: -11px;
        font-size: 12px;
        text-align: center;
        font-family: 'Bahnschrift';
        letter-spacing: 1px;
        line-height: 1;
        color: #e3e3e3;
    }


    .input-email {
        width: 250px;
        height: 35px;
        border-radius: 7px;
        border: none;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    }

    .block-arrow:active {
        border-radius: 15px;
        background-color: green;
    }

    .collapsible {
        background-color: #8B53A6;
        font-family: 'Play', sans-serif;
        color: #e3e3e3;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        margin-top: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #e3e3e3;
    }


    .filterDiv {
        display: none;
    }

    .show {
        display: block;
    }

    .container {
        margin-top: 20px;
        overflow: hidden;
    }

    /* Style the buttons */
    .btn {
        border: 1px solid #e3e3e3;
        outline: none;
        padding: 12px 16px;
        background-color: #e3e3e3;
        cursor: pointer;
        font-family: 'Play', sans-serif;
        color: #8B53A6;
        font-size: 15px;
        width: 49%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    }

    .btn.active {
        background-color: #8B53A6;
        color: #e3e3e3;
        border: 1px solid #e3e3e3;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    .menu-box {
        display: block;
        margin-top: 10%;
    }

    .input-submit {
        display: block;
        width: 20vh;
        height:5vh;
        border: none;
        background-color: #8B53A6;
        color: #e3e3e3;
        border-radius: 30px;
        font-size: 45%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-left: 58%;
        margin-top: 4%;
    }


    /*-----------------------------------*/
    #slides {
        width: 80%;
        padding: 10%;
        margin: -20%;
        list-style-type: none;
    }

    .slide {
        position: absolute;
        left: 2.4%;
        top: 14%;
        width: 94%;
        height: 30%;
        opacity: 0;
        z-index: 1;
        padding-top: 10%;
        border-radius: 5px;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }

    .slide {
        font-size: 40px;
        padding-top: 0;
        box-sizing: border-box;
        background: #e3e3e3;
        color: #8B53A6;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    /*.slide:nth-of-type(1) {
        background: red;
    }
    .slide:nth-of-type(2) {
        background: orange;
    }
    .slide:nth-of-type(3) {
        background: green;
    }
    .slide:nth-of-type(4) {
        background: blue;
    }
    .slide:nth-of-type(5) {
        background: purple;
    }*/



    #previous{
        margin-top: 10%;
        margin-left: 10%;
    }

}
/*Normal*/
@media (min-height: 600px){
    .image-men{
        width: 62%;
        height: 38%;
        margin-top: 53%;
        margin-left: 31%;
    }

    h3{
        font-size: 50%;
    }

    p{
        font-size: 50%;
    }

    .input-submit{
        margin-left: 50%;
    }

    .slide{
        height:30%;
    }
}
/*XL*/
@media(max-height:800px) and (min-height: 668px){
    .image-men{
        width: 51%;
        height: 37%;
        margin-top: 44%;
        margin-left: 31%;
    }

    h3{
        font-size: 50%;
    }

    p{
      font-size: 50%;
    }
}

/*iPad*/
@media(max-height:1400px) and (min-height: 823px){
    .image-men{
        width: 30%;
        height: 51%;
        margin-top: 16%;
        margin-left: 31%;
    }

    h3{
        margin-top: 10%;
        font-size: 50%;
    }

    p{
        font-size: 50%;
    }

    .input-submit{
        margin-top: 10%;
        margin-left: 54%;
    }

    .slide{
        height:27%;
        margin-top: -3%;
    }

    .collapsible {
        padding: 2%;
        font-size: 100%;
        margin-top: 3%;
        height: 20%;
    }

}





@media screen and (min-height: 600px) {

    h1{
        font-size: 250%;
    }

    h2{
        font-size:100%;
        text-align:left;
        font-family: 'Russo One', cursive;
        color:#e3e3e3;
    }

    h3{
        display: block;
        margin-top: 3%;
    }


    .btn {
        font-size: 90%;
        padding:4%;
    }



    .input-email{
        width: 40vh;
        height: 6vh;
    }


    .sing-up{
        font-size: 120%;
    }

    .data-forget{
        font-size: 120%;
    }

    .collapsible {
        padding: 4%;
        font-size: 100%;
        margin-top: 3%;
        height: 20%;
    }


}

