
@media (max-height: 1366px) {
    body{
        background-color: #8B53A6;

    }

    @font-face {
        font-family: 'Montserrat' ;
        src: url("../fonts/Montserrat-Light.ttf");
    }


    input{
        text-align: left;
        font-family: 'Montserrat' ;
        letter-spacing: 1px;
        padding: 3%;
    }

    h1{
        font-size:32px;
        text-align:center;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        letter-spacing: 1px;
    }

    h2{
        font-size:16px;
        text-align:center;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        margin-top:22%;
        letter-spacing: 1px;
    }

    h3{
        font-size:16px;
        text-align:left;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        margin-top: -10%;
        letter-spacing: 1px;
    }

    h4{
        font-size:16px;
        text-align:left;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        margin-top: 0;
        margin-bottom: 2%;
        letter-spacing: 1px;
        padding: 2%;
    }

    p{
        font-size:13px;
        text-align:center;
        color:#e3e3e3;
        letter-spacing: 1px;
    }


    a{
        text-decoration: none;
        color:#e3e3e3;
    }

    label{
        font-size:16px;
        text-align:center;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        letter-spacing: 1px;
    }

    .btn-label{
        margin-top: 12%;
        font-size: 14px;
    }


    .image-men{
        width: 50%;
        height:50%;
        margin-top: 28%;
        margin-left: 28%;
    }



    .grid{
        display: grid;
        height: 97vh;
        grid-gap: 2px;
        margin:0 auto;
    }

    .main{
        margin: 0;
        grid-template-rows: 0.1fr 4fr;
    }


    .head-logo{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: -7%;
    }

    .block-logo{
        display: grid;
        height: 100%;
        grid-template-columns: 0.4fr 1fr 0.4fr;

    }





    .input-email{
        width: 90%;
        height: 7vh;
        border-radius: 7px;
        border:none;
        box-shadow: 0 7px 7px rgba(0,0,0,0.4);
        background: #e3e3e3 ;
        font-family: 'Montserrat' ;
    }

    .block-arrow:active{
        border-radius: 15px;
        background-color: green;
    }

    .collapsible {
        background-color:#8B53A6;
        font-family: 'Montserrat' ;
        color: #e3e3e3;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border:1px solid #e3e3e3;
        border-radius: 10px;
        margin-top: 3px;
    }





    .filterDiv {
        display: none;
    }

    .show {
        display: block;
    }

    .container {
        margin-top: 20px;
        overflow: hidden;
    }

    /* Style the buttons */
    .btn {
        outline: none;
        background-color: #8B53A6;
        cursor: pointer;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        font-size: 15px;
        width:12vh;
        height: 12vh;
        border: none;
        border-bottom: 4px solid #712a5e;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    .btn.active {
        background-color: #e3e3e3;
        color:  #8B53A6;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        border-bottom: 4px solid #9e7676;
    }

    .btn-center{
        width: 16.2vh;
    }

    #myBtnContainer{
        margin-left: 3%;
    }


    .menu-box{
        margin-top: 3%;
    }


    h3,
    label[for='new-task'] {
        color:#e3e3e3;
        font-weight: 700;
        font-size: 15px;
        border-bottom: 2px solid #e3e3e3;
        padding: 30px 0 10px;
        margin: 0;
        text-transform: uppercase;
    }


    .input-submit{
        display: block;
        width: 30vh;
        height:7vh ;
        border:none;
        background-color:#e3e3e3;
        color:#8B53A6;
        border-radius: 30px;
        font-size: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-bottom: 4px solid #9e7676;
        margin-top:7%;
        text-align: center;

    }

    .input-edit{
        height: 20%;
    }

    #inp-color{
        background: #e3e3e3;
    }

    .btn-ed-del{
        width: 10vh;
        height:3vh ;
        font-size: 90%;
        /* margin-top: 3%;*/
    }

    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    .custom-checkbox:checked+label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    .check-box{
        margin:3%;
    }



    .row {
        margin: -10% -6%;
    }

    /* Add padding BETWEEN each column */
    .row,
    .row > .column {
        padding: 8px;
    }

    /* Create three equal columns that floats next to each other */
    .column {

        display: none; /* Hide all elements by default */
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Content */
    .content {
        padding: 10px;
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }
}



@media screen and (min-height: 600px) {

    h1{
        font-size: 250%;
    }

    .btn {
        font-size: 110%;
        padding:16px 19px;
    }

    .input-email{

    }



    .sing-up{
        font-size: 120%;
    }

    .data-forget{
        font-size: 120%;
    }

    .collapsible {
        padding: 18px;
        font-size: 120%;
        margin-top: 3%;
        height: 30%;
    }


}