
@media screen and (max-width: 812px ){
    body{
        background-color: #8B53A6;

    }

    @font-face {
        font-family: 'Montserrat' ;
        src: url("../fonts/Montserrat-Light.ttf");
    }


    input{
        text-align: center;
        font-family: 'Montserrat' ;
    }

    h1{
        font-size:16px;
        text-align:center;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        margin-top: 21%;
        letter-spacing: 1px;
    }

    h2{
        font-size:16px;
        text-align:left;
        font-family: 'Montserrat' ;
        color:#8B53A6;
        margin-left: 5%;
        letter-spacing: 1px;
    }

    h3{
        font-size:16px;
        text-align:left;
        font-family: 'Russo One', cursive;
        margin-left: 5%;
        color:#8B53A6;
        letter-spacing: 1px;
    }

    p{
        margin-top: -2%;
        margin-left: 5%;
        font-size:16px;
        text-align:left;
        color:#8B53A6;
        font-family: 'Montserrat' ;
        letter-spacing: 1px;
    }

    span{
        margin-left: 5%;
        font-size:16px;
        text-align:left;
        color:#8B53A6;
        font-family: 'Montserrat' ;
        letter-spacing: 1px;
    }


    a{
        text-decoration: none;
    }


    .image-men{
        width: 45%;
        height:40%;
        margin-top: 36%;
        margin-left: 25%;
    }

    .margin-block{
        margin-top: -10%;
    }

    .grid{
        display: grid;
        height: 97vh;
        grid-gap: 2px;
        margin:0 auto;
    }

    .main{
        margin: 0;
        grid-template-rows: 0.1fr 1fr 0.5fr 1fr;
    }

    .block-form{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap:2px;

    }


    .head-logo{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .block-logo{
        display: grid;
        height: 100%;
        grid-template-columns: 0.5fr 1fr 0.5fr;

    }

    .zone-block{
        width: 98%;
        height: 93%;
        border:1px solid #e3e3e3;
        border-radius:10px;
        padding-bottom: 3%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        margin-top: 3%;
        background: #e3e3e3;
    }

    .menu{
        border-radius: 15px;
        border:1px solid #e3e3e3;
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
    }

    .menu:active{
        border-radius: 15px;
        background-color: green;
        box-shadow: none;
    }



    .sing-up{
        font-size:100%;
        text-align: center;
        font-family: 'Pacifico', cursive;
        letter-spacing: 1px;
        line-height: 1;
        color:#e3e3e3;
    }

    .btn {
        outline: none;
        padding: 12px 16px;
        background-color: #8B53A6;
        font-family: 'Montserrat' ;
        color:#e3e3e3;
        font-size: 15px;
        width: 96%;
        border:none;
        border-bottom: 4px solid #712a5e;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        margin-left: 2%;
    }

    .btn.active {
        background-color: #e3e3e3;
        color:  #8B53A6;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        border-bottom: 4px solid #9e7676;
    }

    .input-submit {
        display: block;
        width: 51vh;
        height:6vh;
        border: none;
        background-color: #8B53A6;
        color: #e3e3e3;
        border-radius: 10px;
        font-size: 16px;
        margin-left: 1%;
        margin-top:-2%;
        border-bottom: 4px solid #712a5e;
        letter-spacing: 1px;
        font-family: 'Montserrat';
    }

    .input-text{
        width: 80%;
        height: 6vh;
        background:#8B53A6;
        color:#e3e3e3;
        border: none;
        border-radius: 10px;
        margin-top: -3%;
        margin-left:4%;
        padding: 3%;
        text-align: left;
        font-family: 'Montserrat';
        letter-spacing: 1px;
    }




}



@media screen and (min-height: 600px) {

    h1{
        font-size: 120%;
    }




    .sing-up{
        font-size: 120%;
    }

    .data-forget{
        font-size: 120%;
    }

    .collapsible {
        padding: 18px;
        font-size: 120%;
        margin-top: 3%;
        height: 30%;
    }


}