
@media screen and (max-width: 812px ){
    body{
        background-color: #8B53A6;

    }


    input{
        text-align: center;
        font-family: 'Play', sans-serif;
    }

    h1{
        font-size:16px;
        text-align:center;
        font-family: 'Russo One', cursive;
        color:#e3e3e3;
        margin-top: 21%;
    }

    h2{
        font-size:16px;
        text-align:left;
        font-family: 'Russo One', cursive;
        color:#8B53A6;
        margin-left: 5%;
    }

    h3{
        font-size:16px;
        text-align:center;
        font-family: 'Russo One', cursive;
    }

    p{
        margin-top: -2%;
        margin-left: 5%;
        font-size:16px;
        text-align:left;
        color:#8B53A6;
        font-family: 'Russo One', cursive;
    }


    a{
        text-decoration: none;
    }


    .image-men{
        width: 45%;
        height:40%;
        margin-top: 32%;
        margin-left: 25%;
    }

    .margin-block{
        margin-top: -10%;
    }

    .grid{
        display: grid;
        height: 97vh;
        grid-gap: 2px;
        margin:0 auto;
    }

    .main{
        margin: 0;
        grid-template-rows: 0.1fr 1fr 0.5fr 1fr;
    }

    .block-form{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap:2px;

    }


    .head-logo{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .block-logo{
        display: grid;
        height: 100%;
        grid-template-columns: 0.5fr 1fr 0.5fr;

    }

    .zone-block{
        width: 98%;
        height: 100%;
        border:1px solid #e3e3e3;
        border-radius: 5px;
        padding-bottom: 3%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        margin-top: 3%;
        background: #e3e3e3;
    }

    .menu{
        border-radius: 15px;
        border:1px solid #e3e3e3;
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
    }

    .menu:active{
        border-radius: 15px;
        background-color: green;
        box-shadow: none;
    }



    .sing-up{
        font-size:100%;
        text-align: center;
        font-family: 'Pacifico', cursive;
        letter-spacing: 1px;
        line-height: 1;
        color:#e3e3e3;
    }

    .input-email{
        width: 25vh;
        height: 6vh;
        border-radius: 30px;
        color:#8B53A6;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        font-family: 'Russo One', cursive;
        margin-left: 2%;
        border: 2px solid #8B53A6;
    }

    .btn-vyp{
        background: #8B53A6;
        color:#e3e3e3;
    }


}



@media screen and (min-height: 600px) {

    h1{
        font-size: 120%;
    }


    .input-email{
        width: 25vh;
        height: 6vh;
    }



    .sing-up{
        font-size: 120%;
    }

    .data-forget{
        font-size: 120%;
    }

    .collapsible {
        padding: 18px;
        font-size: 120%;
        margin-top: 3%;
        height: 30%;
    }


}