

@media screen and (max-width: 823px){
    body{
        background-color: #8B53A6;
    }

    @font-face {
        font-family: 'Montserrat' ;
        src: url("../fonts/Montserrat-Light.ttf");
    }

    input{
        display: block;
        font-family: 'Montserrat' ;
    }

    h1{
        font-size:32px;
        text-align:center;
        font-family: 'Permanent Marker', cursive;
        color:#e3e3e3;
    }

    h2{
        font-size:18px;
        text-align: center;
        font-family: 'Montserrat' ;
        letter-spacing: 2px;
        line-height: 1;
        color:#e3e3e3;
    }

    a{
        text-decoration: none;
        color:#e3e3e3;
    }

    label{
        display: block;
        font-size:18px;
        font-family: 'Montserrat' ;
        letter-spacing: 1px;
        color:#e3e3e3;
        margin-top: 2%;
    }

    .grid{
        display: grid;
        height: 97vh;
    }

    .main{
        grid-template-rows:1.5fr 5fr 1fr;
    }

    .head-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 4%;
    }

    .align-center{
        align-items: center;
        margin-top: -5%;
    }




    .input-submit{
        width: 47vh;
        height:8vh ;
        border:none;
        background-color:#e3e3e3;
        color:#8B53A6;
        font-size: 130%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-bottom: 4px solid #9e7676;
    }

    .input-email{
        display: block;
        width: 45vh;
        height:6vh ;
        border:none;
        background-color:#e3e3e3;
        color:#8B53A6;
        font-size: 130%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-radius: 3px;
        padding: 6%;
        margin-left: 3%;
        margin-top: 4%;
    }




    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 20%;
        cursor: pointer;
    }


    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }


    .container input:checked ~ .checkmark {
        background-color: #e3e3e3;
    }


    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }



}

@media screen and (min-height: 600px) {

    h1{
        font-size: 250%;
    }

    input{

        font-size: 100%;
    }



    .sing-up{
        font-size: 140%;
    }

    .sign-face{
        font-size: 100%;
    }

    .dot {
        height: 20px;
        width: 20px;
    }


}